{% extends "dashboard/customer/base.html" %}
{% load static %}

{% block content2 %}


        <div class="col-lg-9">
          <div class="d-grid gap-3 gap-lg-5">
            <!-- Card -->


<div class="card">

<div class="card-header border-bottom">
    <h4 class="card-header-title">اطلاعات پایه</h4>
</div>
              
<div class="card-body">

                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">عکس پروفایل</label>

                    <div class="col-sm-9">
                      <!-- Media -->
                       <form action="{% url "dashboard:customer:profile-image-edit" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                          <img  id="avatarImg" class="avatar-img" src="{{ request.user.user_profile.image.url }}"
                            alt="Image Description">
                        </label>

                        <div class="d-grid d-sm-flex gap-2 me-4">
                          <div class="form-attachment-btn btn btn-primary btn-sm">آپلود عکس
                            <input name='image' type="file" class="js-file-attach form-attachment-btn-label" id="avatarUploader"
                              data-hs-file-attach-options='{
                                      "textTarget": "#avatarImg",
                                      "mode": "image",
                                      "targetAttr": "src",
                                      "resetTarget": ".js-file-attach-reset-img",
                                      "resetImg": "./assets/img/160x160/img1.jpg",
                                      "allowTypes": [".png", ".jpeg", ".jpg"]
                                   }'>
                          </div>
                          <!-- End Avatar -->

                          <button type="submit" class="js-file-attach-reset-img btn btn-white btn-sm">ارسال کردن</button>
                        </div>
                      </div>
                      </form>
                      <!-- End Media -->
                    </div>
                  </div>

</div>

</div>


            <form method="post">
            <div class="card">
              <div class="card-header border-bottom">
                <h4 class="card-header-title">اطلاعات پایه</h4>
              </div>

              <!-- Body -->
              <div class="card-body">


                  {% csrf_token %}  
                  <!-- Form -->
                  

                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">نام و نام خانوادگی </label>

                    <div class="col-sm-9">
                      <div class="input-group">
                            {{form.first_name}}
                            {{form.last_name}}
                      </div>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label for="emailLabel" class="col-sm-3 col-form-label form-label">ایمیل</label>

                    <div class="col-sm-9">
                      <input type="email" class="form-control" name="email" id="emailLabel"
                        placeholder="clarice@example.com" aria-label="clarice@example.com" value="{{ request.user.email }}" disabled>
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="js-add-field row mb-4" data-hs-add-field-options='{
                          "template": "#addPhoneFieldTemplate",
                          "container": "#addPhoneFieldContainer",
                          "defaultCreated": 0
                        }'>
                    <label for="phoneLabel" class="col-sm-3 col-form-label form-label">تلفن </label>

                    <div class="col-sm-9">
                      <div class="input-group">
                            {{form.phone_number}}

                        <!-- Select -->

                        <!-- End Select -->
                      </div>

                      <!-- Container For Input Field -->
 
                  </div>
      

                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">بایو</label>

                    <div class="col-sm-9">
                      <!-- Quill -->
                        {{ form.descriptions }}
                      <!-- End Quill -->
                    </div>
                  </div>
                  <!-- End Form -->


                  <!-- End Form -->
                {% comment %} </form> {% endcomment %}

              </div>
              <!-- End Body -->

              <!-- Footer -->
              <div class="card-footer pt-0">
                <div class="d-flex justify-content-end gap-3">
                    <button type="reset" class="btn btn-danger">لغو</button>
                    <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                </div>
              </div>
               {% comment %} </form> {% endcomment %}
              <!-- End Footer -->
            </div>
            </form>
            <!-- End Card -->

          </div>
        </div>
{% endblock content2 %}