{% extends "dashboard/customer/base.html" %}
{% load static %}

{% block content2 %}

        <div class="col-lg-9">
          <div class="d-grid gap-3 gap-lg-5">
            <!-- Card -->
            <form method="post">
            <div class="card">
              <div class="card-header border-bottom">
                <h4 class="card-header-title">ویرایش آدرس</h4>
              </div>

              <!-- Body -->
              <div class="card-body">

                  {% csrf_token %}  

                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">خیابان و پلاک</label>

                    <div class="col-sm-9">
                      {{ form.address_line1 }}
                      {% if form.address_line1.errors %}
                        <div class="invalid-feedback d-block">
                          {{ form.address_line1.errors.0 }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">شهر</label>

                    <div class="col-sm-9">
                      {{ form.city }}
                      {% if form.city.errors %}
                        <div class="invalid-feedback d-block">
                          {{ form.city.errors.0 }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">استان</label>

                    <div class="col-sm-9">
                      {{ form.state }}
                      {% if form.state.errors %}
                        <div class="invalid-feedback d-block">
                          {{ form.state.errors.0 }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="row mb-4">
                    <label class="col-sm-3 col-form-label form-label">کد پستی</label>

                    <div class="col-sm-9">
                      {{ form.postal_code }}
                      {% if form.postal_code.errors %}
                        <div class="invalid-feedback d-block">
                          {{ form.postal_code.errors.0 }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <!-- End Form -->

              </div>
              <!-- End Body -->

              <!-- Footer -->
              <div class="card-footer pt-0">
                <div class="d-flex justify-content-end gap-3">
                    <a href="{% url 'dashboard:customer:address-list' %}" class="btn btn-danger">لغو</a>
                    <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                </div>
              </div>
              <!-- End Footer -->
            </div>
            </form>
            <!-- End Card -->

          </div>
        </div>
{% endblock content2 %}